
Mandelbrot.xcodeproj/project.xcworkspace/xcuserdata/gary.xcuserdatad/UserInterfaceState.xcuserstate
Mandelbrot.xcodeproj/project.xcworkspace/xcuserdata/gary.xcuserdatad/UserInterfaceState.xcuserstate
